
.menu-bar__item{
  display: flex;
  justify-content: center;

}

.menu-bar__item > ul{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.menu-bar__item > ul > li{
  padding: 5px;
  margin-right: 15px;
}

.menu-bar__item > ul > li > a{
  text-decoration: none;
  padding: 5px;
  color: black;
  font-family: 'Segoe UI';
}

.menu-bar__item > ul > li > a:hover{
color: blue;
font-weight: 600;
}
