<div class="home__container">

<app-card
  gameCover="../../../assets/bt-1.jpg"
  gameLabel="DIGITAL"
  gameType="DIGITAL | PS4"
  gamePrice="R$199,90"
></app-card>

<app-card
  gameCover="../../../assets/bt-4.jpg"
  gameLabel="EXCLUSIVE"
  gameType="DISC | PS4"
  gamePrice="R$299,90"
></app-card>

<app-card
  gameCover="../../../assets/bt-5.jpg"
  gameLabel="LANÇAMENTO"
  gameType="DISC | PS5"
  gamePrice="R$399,90"
></app-card>

<app-card
  gameCover="../../../assets/ac-cover.jpg"
  gameLabel="BEST OF YEAR"
  gameType="DISC | PS5"
  gamePrice="R$499,90"
></app-card>

<app-card
  gameCover="../../../assets/ac-cover.jpg"
  gameLabel="BEST OF YEAR"
  gameType="DISC | PS5"
  gamePrice="R$499,90"
></app-card>

<app-card
  gameCover="../../../assets/ac-cover.jpg"
  gameLabel="BEST OF YEAR"
  gameType="DISC | PS5"
  gamePrice="R$499,90"
></app-card>


</div>
